.hero__container {
  height: 568px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 4em;
}

.hero__text {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
}

.hero__text h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
}

.hero__text p {
  font-family: var(--font-family);

  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.02em;

  color: #494949;
}

.hero__image {
  display: flex;
  flex-direction: column;
}

.hero__image .ellipse {
  position: absolute;
  width: 611px;
  height: 611px;
  left: 662px;
  top: 209px;
  background: #fff8f5;
  border-radius: 50%;
  z-index: -1;
}

.hero__image .img {
  position: absolute;
  width: 536px;
  height: 568px;
  left: 793px;
  top: 158px;
  background-image: url(../../assets/Testimonial-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* media queries */
@media screen and (max-width: 768px) {
  
    
.hero__text h1 {
  font-size: 28px;
  line-height: 40px;
}

.hero__text {
    margin-top: -4em;
}
.hero__text p {
  font-size: 10px;
  line-height: 21px;
}
.hero__image .ellipse {
  width: 380px;
  height:380px;
  left: 362px;
  top: 149px;
}


.hero__image .img {
  width: 336px;
  height: 368px;
  left: 393px;
  top: 88px;
}
}
@media screen and (max-width: 550px) {
.hero__container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 3em;
    margin-left: 2em;

}
.hero__image .ellipse {
  width: 400px;
  height: 350px;
  top: 30em;
  left: 2em;
}
.hero__image .img{
   position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    top: 27em;
    left: 5em;
}


}
