.testimony__conatiner {
  display: flex;
  flex-direction: column;
}

.testimony__content {
  width: 300px;
  margin: 2em;
}
.testimony__content h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  letter-spacing: 0.02em;
}
.testimony__location {
  display: flex;
  align-items: center;
  margin: 5px 10px 0 -10px;
}
.testimony__location .testimony__location__address {
  font-family: var(--font-family);
  margin: 0 1em;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;

  color: #535353;
}

.testimony__location .testimony__location__customer {
  width: 95px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimony__location .testimony__location__customer p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
text-transform: uppercase;
}

.testimony__content .text {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #474747;
  margin-top: 3em;
}


/* media queries */

  @media screen and (max-width: 550px) {
   .testimony__content h2 {
  
font-weight: 600;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.02em;
}
    .testimony__location .testimony__location__customer p {
font-size: 15px;
line-height: 18px;
letter-spacing: 0.05em;

}
.testimony__content .text {
 font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;

}
.testimony__location .testimony__location__address {
font-size: 15px;
line-height: 18px;
letter-spacing: 0.05em;

}
  }
