*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* media query */
@media screen and (max-width: 768px) {
    body{
      margin-right: 0;
    }
}

a {
  color: unset;
  text-decoration: none;
}
