@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&display=swap');
:root {
  --bg-color: #e5e5e5;
  --font-family: 'Inter', sans-serif;

--nav-font-family: 'Roboto', sans-serif;
  --color-vendor: #049a01;
  --bgcolor-vendor: #F0FFEE;
  --bgcolor-vendor2: #FFF8F5;
  --color-vendor2: #ff5c00;
  --bgcolor-customer:  #EEF8FF;
  --color-customer: #0d019a;
}
